.homeContainer {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #161d26;
}

.leftSection {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.centerSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 0.5px gray solid;
  height: 100vh;
}

.tweet {
  flex: 0.6;
  border: 0.5px gray solid;
}

.titleTweet {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.textTweet {
  margin: 0 2rem;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px 5px;
  font-size: 22px;
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  outline: none;
  color: #ffffff;
  }
  
.submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 10px; /* Espace entre les éléments de la classe submit */
}

.caracters {
  margin-right: 10px; /* Ajout d'un espace avant le bouton */
}

.sendButton {
  text-decoration: none;
  padding: 6px 35px;
  font-size: 1em;
  color: #ffffff;
  background-color: #3690ed;
  border-radius: 30px;
  font-size: 1rem;
  border: 1px solid #3690ed;
  margin-left: 1rem;
}

.sendButton:hover {
  cursor: pointer;
}

.lastTweetsContainer {
  flex: 2;
  border: 1px gray solid;
  font-size: 13px;
}

.contentLastTweet {
  margin-left: 2rem;
}

.rightSection {
  flex: 1.1;
  justify-content: center;
  align-items: flex-end;
  margin-left: 2rem;
}

.icons {
  color: white;
  transform: rotate(180deg);
  transform-origin: center center;
  display: inline-block;
  font-size: 3rem;
  border: none;
  background: none;
}

.button {
  background-color: #161d26;
  color: white;
  text-decoration: none;
  padding: 8px 35px;
  font-size: 1.2em;
  border-radius: 30px;
  font-size: 1rem;
  border: 1px solid grey;
  margin-top: 1rem;
}

.button:hover {
  cursor: pointer;
}

.faCircle {
  font-size: 3.5rem;
  color: #3690ED;
  background-color: white;
  border-radius: 3rem;

}

.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.logoTweeter:hover {
  cursor: pointer;
}

.userInfo {
  display: flex; 
  align-items: center; 
  gap: 0.3rem; 
}

.firstname {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.username {
  font-size: 0.875rem;
  color: gray;
  text-align: center; 
  margin:0;
}