
.main {
    display: grid;
    grid-template-columns: 1.5fr 2fr; 
    height: 100vh; 
    width: 100vw;
  }
  
  .container1 {
    background-image: url('/6o3uglg8iqt61 copy.png');
    background-size: cover;
    background-position: center;
  }
  
  .container2 {
    background-color: #161D26;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white; 
    align-items: start;
  }
  .infoContainer {
    margin-left: 3rem;
    margin-top: 2rem;
  }
  .title {
    font-size: 5rem;
  }

  .icons {
    color: white;
    transform: rotate(180deg);
    transform-origin: center center; 
    display: inline-block; 
    font-size: 5rem;
  }

  .title2 {
    font-size: 2rem;
  }
  
  .button1 {
    text-decoration: none;
    padding: 10px 50px;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #3690ED;
    border-radius: 30px;
    font-size: 1rem;
    border: 1px solid #3690ED;
    }

    .button2 {
       background-color:#161D26;
       color:#3690ED;
       text-decoration: none;
       padding: 10px 50px;
       font-size: 1.5em;
       border-radius: 30px;
       font-size: 1rem;
       border: 1px solid grey;
    }
    
