.tweetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.tweetHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileIcon {
  border-radius: 50%;
}

.messageContainer {
  padding: 10px 0;
}